.navbar{
  position: fixed;
  left: 25vw;
}

.intro {
  align-items: center;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-self: item;
  height: 100vh;
}

.title {
  color: tomato;
  text-transform: uppercase;
  font-family: inherit;
}

.title-job {
  text-transform: uppercase;
}

.profile {
  width: 35%;
  text-align: center;
}

.desc {
  width: 55%;
}

.btn {
  border-radius: 20px;
  border: 1px solid tomato;
  padding: 10px;
  font-weight: 800;
  background: inherit;
}

.nav{
  margin: 30px;
}

.btn:hover{
  background: tomato;
  color: white;
}

/* about page */

.about-page{
  padding: 30px 40px;
  align-items: center;
}

.headTitle{
  text-align: center;
  text-transform: uppercase;
}

.personal-details{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.experience{
  width: 50%;
}

.cv-details{
  display: flex;
  justify-content: space-between;
}

 .details{
   width: 50%
 }

 .details p{
   color: gray;
 }

 .details .colr{
   color: white;
 }

 .card{
   border: 1px solid gray;
   border-radius: 4px;
   padding: 10px;
   width: 150px;
   margin-bottom: 15px;
 }
@media screen and (max-width: 770px) {
  .intro {
    flex-direction: column;
    text-align: center;
    padding: 30px;
    color: white;
    background: rgb(1, 1, 29);
  }

  .profile {
    width: 45%;
    height: 50%;
    align-self: center;
    border-radius: 50%;
    background: white;
  }

  .desc {
    width: 100%;
  }
  .btn{
    color: white;
  }

  .about-page{
    background: rgb(1, 1, 29);
    padding: 60px 15px 30px;
    color: white;
  }

  .personal-details{
    flex-direction: column;
  }

  .experience{
    width: 100%;
  }

  .navbar{
    left: 0;
  }

  .nav{
    margin: 20px; 
  }
}